<header class="p-3 bg-dark text-white">

  <div class="container">

    <div class="d-flex align-items-center justify-content-around ">

      <!--routerLink est un équivalent au href mais il recharge la page-->
      <a routerLink="/" class="text-white text-decoration-none">
        FakeAPI
      </a>

      <div class="class text-end">
        <button class="btn btn-outline-light me-2">Connexion</button>
        <button class="btn btn-warning">Inscription</button>
      </div>

    </div>

  </div>

</header>

