<header class="p-3 bg-dark text-white">

  <div class="container">

    <div class="d-flex align-items-center justify-content-around ">

      <!--routerLink est un équivalent au href mais il recharge la page-->
      <a routerLink="/" class="text-white text-decoration-none">
        FakeAPI
      </a>

      <div *ngIf="this.token" class="class text-end">
        <button [routerLink]="['posts', 'add']" class="btn btn-success me-2">AJOUTER</button>
        <button (click)="onClickLogout()" class="btn btn-outline-light me-2">DECONNEXION</button>
      </div>

    </div>

  </div>

</header>

