<div class="container">

  <div class="row">

    <div class="col card m-3 shadow">

      <img src="https://source.unsplash.com/random" class="card-img-top" style="max-height: 400px">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>

      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary mx-1">DÉTAILS.</a>
        <a class="btn btn-warning mx-1">MODIF.</a>
        <a class="btn btn-danger mx-1">SUPP.</a>
      </div>

    </div>

    <div class="col card m-3 shadow">

      <img src="https://source.unsplash.com/random" class="card-img-top" style="max-height: 400px">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>

      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary mx-1">DÉTAILS.</a>
        <a class="btn btn-warning mx-1">MODIF.</a>
        <a class="btn btn-danger mx-1">SUPP.</a>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col card m-3 shadow">

      <img src="https://source.unsplash.com/random" class="card-img-top" style="max-height: 400px">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>

      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary mx-1">DÉTAILS.</a>
        <a class="btn btn-warning mx-1">MODIF.</a>
        <a class="btn btn-danger mx-1">SUPP.</a>
      </div>

    </div>

    <div class="col card m-3 shadow">

      <img src="https://source.unsplash.com/random" class="card-img-top" style="max-height: 400px">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>

      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary mx-1">DÉTAILS.</a>
        <a class="btn btn-warning mx-1">MODIF.</a>
        <a class="btn btn-danger mx-1">SUPP.</a>
      </div>

    </div>

  </div>

</div>

