<div *ngIf="control.invalid && (control.dirty || control.touched)"
     class="alert alert-danger mt-1">

  <div *ngIf="control.errors?.required">
    * Le champ '{{controlLabel}}' est obligatoire.
  </div>

  <div *ngIf="control.errors?.email">
    * Le champ '{{controlLabel}}' n'est pas au format email.
  </div>

  <div *ngIf="control.errors?.minLength">
    * Le champ '{{controlLabel}}' doit avoir au
    minimum {{control.errors?.minLength.requiredLength}}
    <!--On gère le message d'erreur avec le singulier / pluriel grace à la ternaire qui va renvoyer une string-->
    {{control.errors?.minLength.requiredLength === 1 ? 'caractère' : 'caractères'}}.
  </div>

  <div *ngIf="control.errors?.maxLength">
    * Le champ '{{controlLabel}}' doit avoir au
    maximum {{control.errors?.maxLength.requiredLength}}
    {{control.errors?.maxLength.requiredLength === 15 ? 'caractère' : 'caractères'}}.
  </div>

</div>
